.global-desktop-navbar {
  width: 96px;
}
.global-desktop-navbar .ant-menu .ant-menu-item .desktop-navbar-label {
  white-space: normal;
  text-align: center;
  line-height: 1.2;
  padding: 0 4px;
  word-break: break-word;
}
